@font-face {
    font-family: SourceSansPro;
    /*src: url(../fonts/);*/
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}

.clearfix-info{
    display: flex;
}

a {
    color: #5801d9;
    text-decoration: none;
}

/*header body {*/
/*    !*position: relative;*!*/
/*    width: 21cm;*/
/*    height: 29.7cm;*/
/*    margin: 0 auto;*/
/*    color: #555555;*/
/*    background: #FFFFFF;*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    font-family: SourceSansPro;*/
/*}*/

/*header header {*/
/*    padding: 10px 0;*/
/*    margin-bottom: 20px;*/
/*    border-bottom: 1px solid #AAAAAA;*/
/*}*/

#logo {
    float: left;

}

#logo img {
    height: 70px;
}

#company {
    float: right;
    text-align: right;
    margin-bottom: 50px;
}


#details {
    margin-bottom: 50px;
    margin-top: 15px;
}

#client {
    padding-left: 6px;
    border-left: 6px solid #5801d9;

    float: left;

}

#client2 {
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 6px;
    border-left: 6px solid #cfcfcf;
    float: left;
}

#agent {
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 6px;

    float: right;
}

#client .to {
    color: #777777;
}

h2.name-info {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 3em;
    font-weight: normal;
    margin: 0;
}

h2.name-name {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 1.8em;
    font-weight: normal;
    margin: 0;
}

#invoice {
    float: right;
    text-align: right;
}

#invoice h1 {
    color: #5801d9;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}

#invoice .date {
    font-size: 1.1em;
    color: #777777;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;


}

table th,
table td {
    padding: 20px;
    background: #EEEEEE;
    text-align: right;
    border-bottom: 1px solid #FFFFFF;


}

table th {
    white-space: nowrap;
    font-weight: normal;


}

table td {
    text-align: right;

}

table td h3{
    color: #5801d9;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0.2em 0;
}

/*table .no {*/
/*    color: #FFFFFF;*/
/*    font-size: 1.6em;*/
/*    background: #5801d9;*/
/*}*/

table .desc {
    text-align: left;
}

table .unit {
    background: #DDDDDD;
}

table .qty {
}

/*table .total {*/
/*    background: #5801d9;*/
/*    color: #FFFFFF;*/
/*}*/

table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table tbody tr:last-child td {
    border: none;
}

table tfoot td {
    /*padding: 10px 20px;*/
    background: #f5f5f5;
    /*border-bottom: none;*/
    /*!*font-size: 1.2em;*!*/
    /*white-space: nowrap;*/
    /*border-top: 1px solid #AAAAAA;*/
}

table tfoot tr:first-child td {


}

table tfoot tr:last-child td {
    color: #5801d9;
    font-size: 1.4em;
    border-top: 1px solid #5801d9;

}

table tfoot tr td:first-child {
    border: none;
}



#thanks{
    font-size: 2em;
    margin-bottom: 50px;
}

#notices{
    padding-left: 6px;
    border-left: 6px solid #5801d9;
}

#notices .notice {
    font-size: 1.2em;
}

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}

.invoice-body {
    width: 100%;
}