<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>SafetyCar</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
          rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/fontawesome-all.css}" href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link th:href="@{/css/swiper.css}" href="../static/css/swiper.css" rel="stylesheet">
    <link th:href="@{/css/magnific-popup.css}" href="../static/css/magnific-popup.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"
          href="../static/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!-- needet for the Date Picker-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.css}" href="../static/css/bootstrap-datepicker3.css"/>
    <!--<link href="jquery.datetimepicker.min.css" rel= "stylesheet"/>-->
    <!-- <link href="css/mdb.min.css" rel="stylesheet"> -->


    <!-- Favicon  -->
    <link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


<!-- Navigation -->
<nav th:replace="fragments/navbar-short.html :: navig-bar-short"></nav>
<!-- end of navigation -->


<!-- Pricing -->
<div id="pricing" class="cards-profileinfo ">
    <div class="container" id="profile-page-container">


        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">

                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 th:if="${principal.firstName == null && principal.lastName == null}"
                                                class="pt-sm-2 pb-1 mb-0 text-nowrap">Please fill your details</h4>
                                            <h4 th:unless="${principal.firstName == null && principal.lastName == null}"
                                                th:text="${principal.firstName} + ' ' + ${principal.lastName}"
                                                class="pt-sm-2 pb-1 mb-0 text-nowrap">Dimitar Hristov</h4>
                                            <p th:text="${principal.email}" class="mb-0">d.hristov@gmail.com</p>

                                            <!--                                            <div class="mt-2">-->
                                            <!--                                                <button class="btn btn-primary" type="button">-->
                                            <!--                                                    <i class="fa fa-fw fa-camera"></i>-->
                                            <!--                                                    <span>Change Photo</span>-->
                                            <!--                                                </button>-->
                                            <!--                                            </div>-->
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <span sec:authorize="hasRole('ROLE_ADMIN')" class="badge">Agent</span>
                                            <span sec:authorize="hasRole('ROLE_USER')" class="badge">Client</span>

                                        </div>
                                    </div>
                                </div>

                                <label class="error"
                                       th:text="${errorMsg}">ErrorMessage</label>

                                <!--NAVIGATION-->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a href="#allPolicies" class="nav-link active" id="allpolicies-tab"
                                           data-toggle="tab"
                                           role="tab"
                                           aria-controls="all-policies">All Policies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#pending" class="nav-link" id="pending-tab" data-toggle="tab"
                                           role="tab"
                                           aria-controls="pendingpolicies">Pending Policies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="cars-tab" data-toggle="tab" href="#accepted" role="tab"
                                           aria-controls="accepted-policies">Accepted Policies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="policies-tab" data-toggle="tab" href="#rejected"
                                           role="tab"
                                           aria-controls="rejected-policies">Rejected Policies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="policies-tab" data-toggle="tab" href="#expired"
                                           role="tab"
                                           aria-controls="profile">Expired Policies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users"
                                           role="tab"
                                           aria-controls="users-aria">Users</a>
                                    </li>
                                </ul>
                                <!--END OF NAVIGATION-->

                                <!--                                NAVIGATION COMPONENTS-->
                                <div class="col-md-8">
                                    <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="allPolicies" role="tabpanel"
                                             aria-labelledby="all-policies">
                                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                <table class="table table-bordered table-striped mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Insurance Plan</th>
                                                        <th scope="col">Submit Date</th>
                                                        <th scope="col">End Date</th>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">Start Time</th>
                                                        <th scope="col">Payment Type</th>
                                                        <th scope="col">Agent</th>
                                                        <th scope="col">Car</th>
                                                        <th scope="col">Total Amount</th>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="policy : ${allPolicies}">
                                                        <td th:text="${policy.status.status}">pending</td>
                                                        <td th:if="${!policy.isProPlan()}">Starter plan</td>
                                                        <td th:unless="${!policy.isProPlan()}">Pro plan</td>
                                                        <td th:text="${policy.submitDate}">2020.11.12</td>
                                                        <td th:text="${policy.startDate}">2020.05.06</td>
                                                        <td th:text="${policy.endDate}">2020.05.06</td>
                                                        <td th:text="${policy.startTime}">12:45 PM</td>
                                                        <td th:text="${policy.paymentType.paymentType}">Once</td>
                                                        <td th:if="${policy.getAgent() == null}">No agent assigned</td>
                                                        <td th:unless="${policy.getAgent() == null}"
                                                            th:text="${policy.getAgent().getFirstName()} + ' ' + ${policy.getAgent().lastName}">
                                                            David Coperfield
                                                        </td>
                                                        <td th:text="${policy.car.model.brand.brand} + ' ' + ${policy.car.model.model}">
                                                            Honda Accord
                                                        </td>
                                                        <td th:text="${policy.totalAmount}">1 345.65 BGN</td>
                                                        <td>
                                                            <a th:href="@{/profile-page/__${policy.car.owner.id}__}" class="btn btn-info btn-sm" role="button">profile</a >
                                                            <a href="mailto:office@evolo.com" th:href="'mailto:' +${policy.car.owner.email}" class="btn btn-info btn-sm" role="button">contact</a >

                                                        </td>
                                                        <td>
                                                            <a th:if ="${!policy.status.status.equals('accepted')}" th:href="@{/agent-panel/accept/__${policy.id}__}" class="btn btn-info btn-sm" role="button">Accept</a >
                                                            <a th:if ="${!policy.status.status.equals('rejected')}" th:href="@{/agent-panel/reject/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Reject&nbsp;</a>
                                                            <a th:href="@{/agent-panel/delete/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Delete&nbsp;</a>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="pending" role="tabpanel"
                                             aria-labelledby="pendingpolicies">
                                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                <table class="table table-bordered table-striped mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Insurance Plan</th>
                                                        <th scope="col">Submit Date</th>
                                                        <th scope="col">End Date</th>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">Start Time</th>
                                                        <th scope="col">Payment Type</th>
                                                        <th scope="col">Agent</th>
                                                        <th scope="col">Car</th>
                                                        <th scope="col">Total Amount</th>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="policy : ${allPendingPolicies}">
                                                        <td th:if="${!policy.isProPlan()}">Starter plan</td>
                                                        <td th:unless="${!policy.isProPlan()}">Pro plan</td>
                                                        <td th:text="${policy.submitDate}">2020.11.12</td>
                                                        <td th:text="${policy.startDate}">2020.05.06</td>
                                                        <td th:text="${policy.endDate}">2020.05.06</td>
                                                        <td th:text="${policy.startTime}">12:45 PM</td>
                                                        <td th:text="${policy.paymentType.paymentType}">Once</td>
                                                        <td th:if="${policy.getAgent() == null}">No agent assigned</td>
                                                        <td th:unless="${policy.getAgent() == null}"
                                                            th:text="${policy.getAgent().getFirstName()} + ' ' + ${policy.getAgent().lastName}">
                                                            David Coperfield
                                                        </td>
                                                        <td th:text="${policy.car.model.brand.brand} + ' ' + ${policy.car.model.model}">
                                                            Honda Accord
                                                        </td>
                                                        <td th:text="${policy.totalAmount}">1 345.65 BGN</td>
                                                        <td>
                                                            <a th:href="@{/profile-page/__${policy.car.owner.id}__}" class="btn btn-info btn-sm" role="button">profile</a >

                                                            <a href="mailto:office@evolo.com" th:href="'mailto:' +${policy.car.owner.email}" class="btn btn-info btn-sm" role="button">contact</a >

                                                        </td>
                                                        <td>
                                                            <a th:if ="${!policy.status.status.equals('accepted')}" th:href="@{/agent-panel/accept/__${policy.id}__}" class="btn btn-info btn-sm" role="button">Accept</a >
                                                            <a th:if ="${!policy.status.status.equals('rejected')}" th:href="@{/agent-panel/reject/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Reject&nbsp;</a>
                                                            <a th:href="@{/agent-panel/delete/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Delete&nbsp;</a>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>


                                        <div class="tab-pane fade" id="accepted" role="tabpanel"
                                             aria-labelledby="accepted-policies">
                                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                <table class="table table-bordered table-striped mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Insurance Plan</th>
                                                        <th scope="col">Submit Date</th>
                                                        <th scope="col">End Date</th>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">Start Time</th>
                                                        <th scope="col">Payment Type</th>
                                                        <th scope="col">Agent</th>
                                                        <th scope="col">Car</th>
                                                        <th scope="col">Total Amount</th>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="policy : ${allAcceptedPolicies}">
                                                        <td th:if="${!policy.isProPlan()}">Starter plan</td>
                                                        <td th:unless="${!policy.isProPlan()}">Pro plan</td>
                                                        <td th:text="${policy.submitDate}">2020.11.12</td>
                                                        <td th:text="${policy.startDate}">2020.05.06</td>
                                                        <td th:text="${policy.endDate}">2020.05.06</td>
                                                        <td th:text="${policy.startTime}">12:45 PM</td>
                                                        <td th:text="${policy.paymentType.paymentType}">Once</td>
                                                        <td th:if="${policy.getAgent() == null}">No agent assigned</td>
                                                        <td th:unless="${policy.getAgent() == null}"
                                                            th:text="${policy.getAgent().getFirstName()} + ' ' + ${policy.getAgent().lastName}">
                                                            David Coperfield
                                                        </td>
                                                        <td th:text="${policy.car.model.brand.brand} + ' ' + ${policy.car.model.model}">
                                                            Honda Accord
                                                        </td>
                                                        <td th:text="${policy.totalAmount}">1 345.65 BGN</td>
                                                        <td>
                                                            <a th:href="@{/profile-page/__${policy.car.owner.id}__}" class="btn btn-info btn-sm" role="button">profile</a >
                                                            <a href="mailto:office@evolo.com" th:href="'mailto:' +${policy.car.owner.email}" class="btn btn-info btn-sm" role="button">contact</a >

                                                            <!-- Button trigger modal -->
<!--                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--                                                                PROFILE-->
<!--                                                            </button>-->

                                                            <!-- Modal -->
<!--                                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                                                                <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                                                                    <div class="modal-content">-->
<!--                                                                        <div class="modal-header">-->
<!--                                                                            <h5 class="modal-title" id="exampleModalLongTitle">User Information</h5>-->
<!--                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                                                <span aria-hidden="true">&times;</span>-->
<!--                                                                            </button>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="modal-body">-->
<!--                                                                            <div th:replace="fragments/user-info-page.html :: profile-info-modal"></div>-->


<!--                                                                        </div>-->
<!--                                                                        <div class="modal-footer">-->
<!--                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            <script>-->
<!--                                                                $('#exampleModalCenter').on('shown.bs.modal', function () {-->
<!--                                                                    $('#myInput').trigger('focus')-->
<!--                                                                })-->
<!--                                                            </script>-->
<!--                                                            END OF MODAL-->




                                                        </td>
                                                        <td>
                                                            <a th:if ="${!policy.status.status.equals('accepted')}" th:href="@{/agent-panel/accept/__${policy.id}__}" class="btn btn-info btn-sm" role="button">Accept</a >
                                                            <a th:if ="${!policy.status.status.equals('rejected')}" th:href="@{/agent-panel/reject/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Reject&nbsp;</a>
                                                            <a th:href="@{/agent-panel/delete/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Delete&nbsp;</a>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="rejected" role="tabpanel"
                                             aria-labelledby="rejected-policies">
                                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                <table class="table table-bordered table-striped mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Insurance Plan</th>
                                                        <th scope="col">Submit Date</th>
                                                        <th scope="col">End Date</th>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">Start Time</th>
                                                        <th scope="col">Payment Type</th>
                                                        <th scope="col">Agent</th>
                                                        <th scope="col">Car</th>
                                                        <th scope="col">Total Amount</th>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="policy : ${allRejectedPolicies}">
                                                        <td th:if="${!policy.isProPlan()}">Starter plan</td>
                                                        <td th:unless="${!policy.isProPlan()}">Pro plan</td>
                                                        <td th:text="${policy.submitDate}">2020.11.12</td>
                                                        <td th:text="${policy.startDate}">2020.05.06</td>
                                                        <td th:text="${policy.endDate}">2020.05.06</td>
                                                        <td th:text="${policy.startTime}">12:45 PM</td>
                                                        <td th:text="${policy.paymentType.paymentType}">Once</td>
                                                        <td th:if="${policy.getAgent() == null}">No agent assigned</td>
                                                        <td th:unless="${policy.getAgent() == null}"
                                                            th:text="${policy.getAgent().getFirstName()} + ' ' + ${policy.getAgent().lastName}">
                                                            David Coperfield
                                                        </td>
                                                        <td th:text="${policy.car.model.brand.brand} + ' ' + ${policy.car.model.model}">
                                                            Honda Accord
                                                        </td>
                                                        <td th:text="${policy.totalAmount}">1 345.65 BGN</td>
                                                        <td>
                                                            <a th:href="@{/profile-page/__${policy.car.owner.id}__}" class="btn btn-info btn-sm" role="button">profile</a >
                                                            <a href="mailto:office@evolo.com" th:href="'mailto:' +${policy.car.owner.email}" class="btn btn-info btn-sm" role="button">contact</a >

                                                        </td>
                                                        <td>
                                                            <a th:if ="${!policy.status.status.equals('accepted')}" th:href="@{/agent-panel/accept/__${policy.id}__}" class="btn btn-info btn-sm" role="button">Accept</a >
                                                            <a th:if ="${!policy.status.status.equals('rejected')}" th:href="@{/agent-panel/reject/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Reject&nbsp;</a>
                                                            <a th:href="@{/agent-panel/delete/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Delete&nbsp;</a>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="expired" role="tabpanel"
                                             aria-labelledby="users-aria">
                                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                <table class="table table-bordered table-striped mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Insurance Plan</th>
                                                        <th scope="col">Submit Date</th>
                                                        <th scope="col">End Date</th>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">Start Time</th>
                                                        <th scope="col">Payment Type</th>
                                                        <th scope="col">Agent</th>
                                                        <th scope="col">Car</th>
                                                        <th scope="col">Total Amount</th>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="policy : ${allExpiredPolicies}">
                                                        <td th:if="${!policy.isProPlan()}">Starter plan</td>
                                                        <td th:unless="${!policy.isProPlan()}">Pro plan</td>
                                                        <td th:text="${policy.submitDate}">2020.11.12</td>
                                                        <td th:text="${policy.startDate}">2020.05.06</td>
                                                        <td th:text="${policy.endDate}">2020.05.06</td>
                                                        <td th:text="${policy.startTime}">12:45 PM</td>
                                                        <td th:text="${policy.paymentType.paymentType}">Once</td>
                                                        <td th:if="${policy.getAgent() == null}">No agent assigned</td>
                                                        <td th:unless="${policy.getAgent() == null}"
                                                            th:text="${policy.getAgent().getFirstName()} + ' ' + ${policy.getAgent().lastName}">
                                                            David Coperfield
                                                        </td>
                                                        <td th:text="${policy.car.model.brand.brand} + ' ' + ${policy.car.model.model}">
                                                            Honda Accord
                                                        </td>
                                                        <td th:text="${policy.totalAmount}">1 345.65 BGN</td>
                                                        <td>
                                                            <a th:href="@{/profile-page/__${policy.car.owner.id}__}" class="btn btn-info btn-sm" role="button">profile</a >
                                                            <a href="mailto:office@evolo.com" th:href="'mailto:' +${policy.car.owner.email}" class="btn btn-info btn-sm" role="button">contact</a >

                                                        </td>
                                                        <td>
                                                            <a th:if ="${!policy.status.status.equals('accepted')}" th:href="@{/agent-panel/accept/__${policy.id}__}" class="btn btn-info btn-sm" role="button">Accept</a >
                                                            <a th:if ="${!policy.status.status.equals('rejected')}" th:href="@{/agent-panel/reject/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Reject&nbsp;</a>
                                                            <a th:href="@{/agent-panel/delete/__${policy.id}__}" class="btn btn-danger btn-sm" role="button">Delete&nbsp;</a>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="users" role="tabpanel"
                                             aria-labelledby="users-aria">
                                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                <table class="table table-bordered table-striped mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Emai l&nbsp<i class="fas fa-envelope"></i></th>
                                                        <th scope="col">Name &nbsp<i class="fas fa-user-shield"></i></th>
                                                        <th scope="col">Phone &nbsp<i class="fas fa-phone"></i></th>
                                                        <th scope="col">City &nbsp<i class="fas fa-map-marker-alt"></i></th>
                                                        <th scope="col">HasAccidents &nbsp<i class="fas fa-car"></i></th>
<!--                                                        <th scope="col">Start Time</th>-->
<!--                                                        <th scope="col">HasAccidents</th>-->
<!--                                                        <th scope="col">Agent</th>-->
<!--                                                        <th scope="col">Car</th>-->
<!--                                                        <th scope="col">Total Amount</th>-->
                                                        <th scope="col"></th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="userDB : ${allUsers}">
                                                        <td th:text="${userDB.email}">Georgi@gmail.com</td>
                                                        <td th:if="${userDB.firstName == null && userDB.lastName ==null}" ></td>
                                                        <td th:unless="${userDB.firstName == null && userDB.lastName ==null}" th:text="${userDB.firstName} + ' ' + ${userDB.lastName}">John doew</td>
                                                        <td th:text="${userDB.phoneNumber}">2020.05.06</td>
                                                        <td th:if="${userDB.address !=null} " th:text="${userDB.address.city.city}">Sofia</td>
                                                        <td th:unless="${userDB.address !=null} " ></td>
                                                        <td th:if="${userDB.accidents}"><i class="fas fa-check-circle"></i></td>
                                                        <td th:unless="${userDB.accidents}"><i class="fas fa-times-circle"></i></td>

                                                        <td>
                                                            <a th:href="@{/profile-page/__${userDB.id}__}" class="btn btn-info btn-sm" role="button">profile</a >
                                                            <a href="mailto:office@evolo.com" th:href="'mailto:' +${userDB.email}" class="btn btn-info btn-sm" role="button">contact</a >
                                                            <a th:href="@{/agent-panel/delete/user/__${userDB.id}__}" class="btn btn-danger btn-sm" role="button">Delete</a>

                                                        </td>

                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                                END OF NAVIGATION COMPONENT-->


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<!-- jQuery for Bootstrap's JavaScript plugins -->
<script th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script>
<!-- Popper tooltip library for Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script th:src="@{/js/jquery.easing.min.js}" src="../static/js/jquery.easing.min.js"></script>
<!-- jQuery Easing for smooth scrolling between anchors -->
<script th:src="@{/js/swiper.min.js}" src="../static/js/swiper.min.js"></script>
<!-- Swiper for image and text sliders -->
<script th:src="@{/js/jquery.magnific-popup.js}" src="../static/js/jquery.magnific-popup.js"></script>
<!-- Magnific Popup for lightboxes -->
<script th:src="@{/js/validator.min.js}" src="../static/js/validator.min.js"></script>
<!-- Validator.js - Bootstrap plugin that validates forms -->
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script> <!-- Custom scripts -->
<script th:src="@{/js/mdb.min.js}" type="text/javascript" src="../static/js/mdb.min.js"></script>

</body>
</html>