<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SafetyCar</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
          rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/fontawesome-all.css}" href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link th:href="@{/css/swiper.css}" href="../static/css/swiper.css" rel="stylesheet">
    <link th:href="@{/css/magnific-popup.css}" href="../static/css/magnific-popup.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link th:href="@{/css/gallery.css}" href="../static/css/gallery.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav th:replace="fragments/navbar-short.html :: navig-bar-short"></nav>
<!-- end of navigation -->

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">


<div id="gallery-pg" class="cards-profileinfo ">
    <div class="container" id="profile-page-container">
        <section class="hero-section">
            <h1 th:if="${carPhotos.isEmpty()}">This car doesn't have any uploaded photos yet</h1>
            <div class="card-grid">
                <a th:each="photo : ${carPhotos}" class="card" th:href="@{/images/car-photos/__${photo.photo}__}">
                    <div class="card__background" src="../static/images/car-photos/carREG2.jpg">
                        <img class="gallery-img" th:src="@{/images/car-photos/__${photo.photo}__}"
                             src="../static/images/car-photos/carREG2.jpg" alt="photo">

                    </div>
                    <div class="card__content">
                        <!--                    <p th:text="${}" class="card__category">Photo #1</p>-->

                    </div>
                </a>

                <div>
        </section>
    </div>
    <div><a th:href="@{/profile-page}" class="btn btn-danger btn-sm" role="button">Back To Profile</a></div>
</div>
</body>
</html>