<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>SafetyCar</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
          rel="stylesheet">
<!--    //needet for fontawesome icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:src="@{/css/fontawesome-all.css}" href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link th:href="@{/css/swiper.css}" href="../static/css/swiper.css" rel="stylesheet">
    <link th:href="@{/css/magnific-popup.css}" href="../static/css/magnific-popup.css" rel="stylesheet">

    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">

    <!-- needet for the Date Picker-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.css}" href="../static/css/bootstrap-datepicker3.css"/>
    <link href="jquery.datetimepicker.min.css" rel="stylesheet"/>
    <!-- <link href="css/mdb.min.css" rel="stylesheet"> -->


    <!-- Favicon  -->
    <link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


<!-- Navigation -->
<nav  th:replace="fragments/navbar.html :: navig-bar"></nav>
<!-- end of navigation -->


<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1><span class="turquoise">Easy on your mind</span> Easy on your wallet</h1>
                        <p class="p-large">Need a car insurance? You have come to the right place! 3 quick steps to your
                            policy. Calculate your car insurance policy now!</p>
                        <a class="btn-solid-lg page-scroll" href="#calculator-page">CALCULATE</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" th:src="@{/images/header-teamwork2.png}"
                             src="../static/images/header-teamwork2.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->


<!-- Customers -->
<div class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>Partners</h5>

                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img class="img-responsive" th:src="@{/images/customer-logo-1.png}"
                                         src="../static/images/customer-logo-1.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img class="img-responsive" th:src="@{/images/customer-logo2.png}"
                                         src="../static/images/customer-logo2.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img class="img-responsive" th:src="@{/images/customer-logo-5.png}"
                                         src="../static/images/customer-logo-5.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img class="img-responsive" th:src="@{/images/customer-logo-6.png}"
                                         src="../static/images/customer-logo-6.png" alt="alternative">
                                </div>
                            </div>
                        </div> <!-- end of swiper-wrapper -->
                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of customers -->


<!-- Services -->
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Why choose SafetyCar?</h2>
                <p class="p-heading p-large">Because there's plenty to smile about from the very start :)</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <img class="card-image" th:src="@{/images/services-icon-11.png}"
                         src="../static/images/services-icon-11.png" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Awesome Prices</h4>
                        <p>Discount for new customers when you buy your car insurance online. Different payment options
                            and many more...</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" th:src="@{/images/services-icon-22.png}"
                         src="../static/images/services-icon-2.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Awesome staff</h4>
                        <p>Friendly Sofia-based call centres - there if you need to make a car claim day or night,
                            24/7</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" th:src="@{/images/services-icon-33.png}"
                         src="../static/images/services-icon-3.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Guaranteed</h4>
                        <p>Lifetime guarantee on repairs (when using our recommended repairer service. Labour only,
                            excludes parts)</p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->


<!-- Details 1 -->
<div class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>What's covered? </h2>
                    <p>From theft to write-offs and even lost keys, you'll be covered with us. Here's what you'll like
                        about our comprehensive cover</p>

                    <a class="btn-solid-reg page-scroll" href="#calculator-page">CALCULATE YOUR POLICY</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" th:src="@{/images/whats_covered.png}" src="../static/images/whats_covered.png"
                        alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->


<!-- Details 2 -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" th:src="@{/images/details-2-office-team-work2.png}" src="../static/images/details-2-office-team-work2.png"
                          alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>What factors can affect the price I pay?</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body">Your age and how much experience you have behind the wheel. Because
                                the more experienced you are as a driver, the less likely you are to claim.
                            </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body">The car you're looking to insure. Usually, more powerful, expensive
                                or exotic cars will cost more to cover.
                            </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body">The rising cost of claims. More sophisticated cars are usually more
                                expensive to repair and previously accidents.
                            </div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="#calculator-page">CALCULATE YOUR POLICY</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 2 -->

<!-- Details Lightboxes -->
<!-- Details Lightbox 1 -->
<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="container">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" th:src="@{/images/details-lightbox-1.svg}"
                         src="../static/images/details-lightbox-1.svg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Design And Plan</h3>
                <hr>
                <h5>Core feature</h5>
                <p>The emailing module basically will speed up your email marketing operations while offering more
                    subscriber control.</p>
                <p>Do you need to build lists for your email campaigns? It just got easier with Evolo.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">List building framework</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Easy database browsing</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">User administration</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Automate user signup</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Quick formatting tools</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Fast email checking</div>
                    </li>
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#request">REQUEST</a> <a
                    class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 1 -->

<!-- Details Lightbox 2 -->
<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="container">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" th:src="@{/images/details-lightbox-2.svg}"
                         src="../static/images/details-lightbox-2.svg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Search To Optimize</h3>
                <hr>
                <h5>Core feature</h5>
                <p>The emailing module basically will speed up your email marketing operations while offering more
                    subscriber control.</p>
                <p>Do you need to build lists for your email campaigns? It just got easier with Evolo.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">List building framework</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Easy database browsing</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">User administration</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Automate user signup</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Quick formatting tools</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i>
                        <div class="media-body">Fast email checking</div>
                    </li>
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#request">REQUEST</a> <a
                    class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 2 -->
<!-- end of details lightboxes -->


<!-- Pricing -->
<div id="calculator-page" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Policy Calculator</h2>
                <p class="p-heading p-large">Calculate the price for your car insurance in a few seconds. Just fill the
                    blank bellow and we will calculate it for you.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">

            <div class="col-lg-6">
                <!-- Request Form NOVA -->
                <div class="form-container">
                    <form id="createPolicyFormId" th:action="@{/}" th:object="${createPolicyDto}"  method="post" >

                        <div class="form-group">
                            <select th:field="*{carBrand}" class="form-control-select-50percent" id="brand" required>
                                <option class="select-option" value="0" required  >Car brand</option>
                                <option th:each="carBrand : ${brandsAndModels.keySet()}" th:value="${carBrand}"
                                        th:text="${carBrand}" class="select-option" value="Personal Loan">
                                    AUDI
                                </option>

                            </select>
                            <select th:field="*{carModel}" class="form-control-select-50percent" id="model"  required>
                                <option class="select-option" value=""  >Car Model</option>
<!--                                <option th:each="carModel : ${carModels}" th:value="${carModel.id}"-->
<!--                                        th:text="${carModel.model}" class="select-option" value="Personal Loan">-->
<!--                                    CIVIC-->
<!--                                </option>-->
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>

                       <!--AJAX DROP DOWN CAR BRANDS MENU-->


<!--                        <script>-->
<!--                            function sendAjaxRequest() {-->
<!--                                var brand = $("#brand").val();-->
<!--                                $.get( "/models?brand=" + brand, function( data ) {-->
<!--                                    $("#model").empty();-->
<!--                                    data.forEach(function(item, i) {-->
<!--                                        var option = "<option value = " + item + ">" + item +  "</option>";-->
<!--                                        $("#model").append(option);-->
<!--                                    });-->
<!--                                });-->
<!--                            };-->
<!--                        </script>-->
<!--                        <script>-->
<!--                            $(document).ready(function() {-->
<!--                                var brand = $("#brand").val();-->
<!--                                if (brand!== 0){-->
<!--                                    sendAjaxRequest();-->
<!--                                }-->
<!--                                $("#brand").change(function() {-->
<!--                                    sendAjaxRequest();-->
<!--                                });-->
<!--                            });-->
<!--                        </script>-->




                        <div class="form-group">
                            <input th:field="*{carFirstReg}" class="form-control-input" type="number" required min="1000" max="2020"
                                      id="datepickerYears" name="firstRegDate" placeholder="First Registration Date" >

                            <script>
                                $("#datepickerYears").datepicker({
                                    format: "yyyy",
                                    viewMode: "years",
                                    minViewMode: "years",

                                });
                            </script>
                            <label class="error"
                                   th:errors="*{carFirstReg}">error message</label>
                            <div class="help-block with-errors"></div>
                        </div>


                        <div class="form-group">
                            <input th:field="*{cubicCapacity}" class="form-control-input" type="number"  min="0" max="999999" required
                                   id="cubicCapacity"  name="cubicCapacity" placeholder="Car Cubic Capacity eg. 2200">
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="registration-dropdown">Your birthday</label>
                            <input th:field="*{driverBirthday}"  class="form-control-input" type="date" id="registration-dropdown" required
                                   name="dateOfBirth" placeholder="Date Of Birth">
                            <div class="help-block with-errors"></div>

                            <script>
                                var today = new Date();
                                var dd = today.getDate();
                                var mm = today.getMonth() + 1;
                                var yyyy = today.getFullYear() -18;
                                if (dd < 10) {
                                    dd = '0' + dd
                                }
                                if (mm < 10) {
                                    mm = '0' + mm
                                }
                                today = yyyy + '-' + mm + '-' + dd;
                                document.getElementById("registration-dropdown").setAttribute("max", today);
                            </script>

                        </div>
                        <script>
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap'
                            });
                        </script>

<!--                        <div class="form-group">-->
<!--                            <div class="md-form md-outline input-with-post-icon datepicker">-->
<!--                                <label for="driverBirthday">Your Birthday</label>-->
<!--                                <input th:field="*{driverBirthday}" placeholder="Your Birthday" type="date" id="driverBirthday" class="form-control">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group">

                            <div class="form-check">
                                <input th:checked="*{accidents}" th:field="*{accidents}" type="checkbox" class="form-check-input" id="exampleCheck1"
                                       name="previousAccidents">
                                <label class="form-check-label"  for="exampleCheck1">I have had incidents in previous years</label>
                            </div>
                        </div>
<!--                        &lt;!&ndash; Material switch &ndash;&gt;-->
<!--                        <div class="custom-control custom-switch">-->
<!--                            <input type="checkbox" th:checked="*{accidents}" th:field="*{accidents}" class="custom-control-input" id="customSwitch1" checked>-->
<!--                            <label class="custom-control-label" for="customSwitch1">I had car accident in the previous year</label>-->
<!--                        </div>-->

                        <div class="form-group checkbox">
                            <input type="checkbox" id="rterms1" value="Agreed-to-Terms" name="rterms1" required>I agree
                            with SafetyCar stated <a th:href="@{privacy-policy}" href="privacy-policy.html">Privacy Policy</a> and <a th:href="@{terms-conditions}"
                                href="terms-conditions.html">Terms & Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">REQUEST</button>
                        </div>
                        <div class="form-message">
                            <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div> <!-- end of form-container -->
                <!-- end of request form -->

            </div> <!-- end of col -->





            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid2" th:src="@{/images/calculator.png}" src="../static/images/calculator.png"
                         alt="alternative">
                </div> <!-- end of image-container -->
            </div>


        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->


<!-- About -->
<div id="about" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About The Team</h2>
                <p class="p-heading p-large">Meat our team of motivated and passionate developers who brought this
                    project to life. Part of Telerik Academy Alpha with partnership with TINQIN</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" th:src="@{/images/team-member-11.png}" src="../static/images/team-member-11.png"
                              alt="alternative">
                    </div> <!-- end of image-wrapper -->
                    <p class="p-large"><strong>Dimitar Hristov</strong></p>
                    <p class="job-title">Software Developer</p>
                    <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" th:src="@{/images/team-member-3.png}" src="../static/images/team-member-3.png"
                              alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large"><strong>Stanislav Angelov</strong></p>
                    <p class="job-title">Software Developer</p>
                    <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- end of team-member -->
                <!-- end of team member -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->


<!-- Contact -->
<div id="contact" class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Contact Information</h2>
                <ul class="list-unstyled li-space-lg">
                    <li class="address">Don't hesitate to give us a call or send us a contact form message</li>
                    <li><i class="fas fa-map-marker-alt"></i>22 Innovative Area, San Francisco, CA 94043, US</li>
                    <li><i class="fas fa-phone"></i><a class="turquoise" href="tel:003024630820">+81 720 2212</a></li>
                    <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:office@evolo.com">office@evolo.com</a>
                    </li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606"
                            allowfullscreen></iframe>
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Contact Form -->
                <form id="contactForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="cname" required>
                        <label class="label-control" for="cname">Name</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="cemail" required>
                        <label class="label-control" for="cemail">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-textarea" id="cmessage" required></textarea>
                        <label class="label-control" for="cmessage">Your message</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group checkbox">
                        <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree with
                        Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a
                            href="terms-conditions.html">Terms Conditions</a>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->


<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="footer-col">-->
<!--                    <h4>About Evolo</h4>-->
<!--                    <p>We're passionate about offering some of the best business growth services for startups</p>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            <div class="col-md-4">-->
<!--                <div class="footer-col middle">-->
<!--                    <h4>Important Links</h4>-->
<!--                    <ul class="list-unstyled li-space-lg">-->
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body">Our business partners <a class="turquoise" href="#your-link">startupguide.com</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms &-->
<!--                                Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy Policy</a></div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            <div class="col-md-4">-->
<!--                <div class="footer-col last">-->
<!--                    <h4>Social Media</h4>-->
<!--                    <span class="fa-stack">-->
<!--                            <a href="#your-link">-->
<!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                                <i class="fab fa-facebook-f fa-stack-1x"></i>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    <span class="fa-stack">-->
<!--                            <a href="#your-link">-->
<!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                                <i class="fab fa-twitter fa-stack-1x"></i>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    <span class="fa-stack">-->
<!--                            <a href="#your-link">-->
<!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                                <i class="fab fa-google-plus-g fa-stack-1x"></i>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    <span class="fa-stack">-->
<!--                            <a href="#your-link">-->
<!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                                <i class="fab fa-instagram fa-stack-1x"></i>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    <span class="fa-stack">-->
<!--                            <a href="#your-link">-->
<!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                                <i class="fab fa-linkedin-in fa-stack-1x"></i>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--</div> &lt;!&ndash; end of footer &ndash;&gt;-->
<!--&lt;!&ndash; end of footer &ndash;&gt;-->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2020 <a href="https://www.telerikacademy.com/">Telerik</a> - All rights reserved
                </p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<!-- jQuery for Bootstrap's JavaScript plugins -->
<script th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script>
<!-- Popper tooltip library for Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script th:src="@{/js/jquery.easing.min.js}" src="../static/js/jquery.easing.min.js"></script>
<!-- jQuery Easing for smooth scrolling between anchors -->
<script th:src="@{/js/swiper.min.js}" src="../static/js/swiper.min.js"></script>
<!-- Swiper for image and text sliders -->
<script th:src="@{/js/jquery.magnific-popup.js}" src="../static/js/jquery.magnific-popup.js"></script>
<!-- Magnific Popup for lightboxes -->
<script th:src="@{/js/validator.min.js}" src="../static/js/validator.min.js"></script>
<!-- Validator.js - Bootstrap plugin that validates forms -->
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script> <!-- Custom scripts -->
<script th:src="@{/js/mdb.min.js}" type="text/javascript" src="../static/js/mdb.min.js"></script>

</body>
</html>