<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Website Title -->
    <title>SafetyCar</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
          rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/fontawesome-all.css}" href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link th:href="@{/css/swiper.css}" href="../static/css/swiper.css" rel="stylesheet">
    <link th:href="@{/css/magnific-popup.css}" href="../static/css/magnific-popup.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/invoice.css}" href="../static/css/invoice.css" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!-- needet for the Date Picker-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.css}" href="../static/css/bootstrap-datepicker3.css"/>
    <!--<link href="jquery.datetimepicker.min.css" rel= "stylesheet"/>-->
    <!-- <link href="css/mdb.min.css" rel="stylesheet"> -->


    <!-- Favicon  -->
    <link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


<!-- Navigation -->
<nav th:replace="fragments/navbar-short.html :: navig-bar-short"></nav>
<!-- end of navigation -->


<!-- Header -->
<header id="header" class="header">
    <div class="header-content2">
        <div class="container">
            <div class="row">
                <h1>Confirm your policy</h1>
            </div>
            <div class="row">
                <div class="col-lg-6-invoice">
                    <div class="text-container2">


                        <header class="clearfix">
                            <div id="logo">
                                <img th:src="@{/images/logo_safetycar.png}" src="../static/images/logo_safetycar.png">
                            </div>
                            <div id="company">
                                <div>Flora Park 23 Sofia, Bulgaria</div>
                                <div>+359-0897-897-239</div>
                                <div><a href="mailto:safetycarproject@gmail.com">office@safetycar.com</a></div>
                            </div>


                            <main>
                                <div id="details" class="clearfix">
                                    <div id="client">
                                        <div class="to">INVOICE TO:</div>
                                        <h2 th:if="${user.firstName !=null && user.lastName !=null}" class="name-name" th:text="${user.firstName} + ${user.lastName}">John
                                            Doe</h2>
                                        <div th:if="${user.address !=null}" class="address" th:text="${user.address.address} + ' ' + ${user.address.city.city}">796 Silver Harbour, TX 79273,
                                            US
                                        </div>
                                        <div class="address" th:text="${user.phoneNumber}">+359 923 923 834</div>
                                        <div class="email"><a th:text="${user.email}"
                                                              th:href="'mailto:' + ${user.email}"
                                                              href="mailto:john@example.com">john@example.com</a></div>
                                    </div>
                                    <div id="invoice">
                                        <div th:text="'Submit Date: ' + ${#temporals.format(localDateTime, 'dd-MM-yyyy')}"
                                             class="date">SubmitDate: 01/06/2014
                                        </div>

                                        <div th:text="'Start Date: ' + ${createPolicyDto.startDate}" class="date">StartDate: 30/06/2014
                                        </div>
                                        <div th:text="'Start Time: ' +${createPolicyDto.startTime}" class="date">StartTime: 12:00 PM
                                        </div>
                                        <div th:text="'End Date: ' + ${createPolicyDto.startDate.plusYears(1)}" class="date">EndDate:
                                            30/06/2014
                                        </div>
                                    </div>
                                </div>


                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="no">#</th>
                                        <th class="desc">Insurance Plan</th>
                                        <th class="desc">Car</th>
                                        <th class="desc">Cubic capacity</th>
                                        <th class="desc">Car first registration date</th>
                                        <th class="desc">Payment Type</th>
                                        <th class="qty">Quantity</th>
                                        <th class="total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody class="tbody-dark">
                                    <tr>
                                        <td class="no">01</td>
                                        <td th:if="${createPolicyDto.isProPlan()}" class="desc"><h3>Pro Plan</h3></td>
                                        <td th:unless="${createPolicyDto.isProPlan()}" class="desc"><h3>Starter
                                            Plan</h3></td>
                                        <td th:text="${createPolicyDto.carBrand} + ${createPolicyDto.carModel}"
                                            class="desc">Audi s80
                                        </td>
                                        <td th:text="${createPolicyDto.cubicCapacity}" class="desc">3200cc</td>
                                        <td th:text="${createPolicyDto.carFirstReg}" class="desc">20.02.2020</td>
                                        <td th:text="${paymentType}" class="desc">once</td>
                                        <td class="qty">1</td>
                                        <td th:if="${!createPolicyDto.isProPlan()}" th:text="${#numbers.formatDecimal(netPremium,1,'COMMA',2,'POINT')} + 'bgn'">
                                        <td th:unless="${!createPolicyDto.isProPlan()}" th:text="${#numbers.formatDecimal(netPremiumPro,1,'COMMA',2,'POINT')} + 'bgn'"
                                            class="total">$1,200.00
                                        </td>
                                    </tr>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5"></td>
                                        <td colspan="2">TAX 10%</td>
                                        <td th:if="${!createPolicyDto.isProPlan()}" th:text="${#numbers.formatDecimal(netPremiumWithTaxes,1,'COMMA',2,'POINT')} + 'bgn'">
                                        <td th:unless="${!createPolicyDto.isProPlan()}" th:text="${#numbers.formatDecimal(netPremiumProWithTaxes,1,'COMMA',2,'POINT')} + 'bgn'">
                                            $1,300.00
                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="5"></td>
                                        <!--                                        <td colspan="2"></td>-->
                                        <td colspan="2">GRAND TOTAL</td>
                                        <td th:if="${!createPolicyDto.isProPlan()}" th:text="${#numbers.formatDecimal(netPremiumWithTaxes,1,'COMMA',2,'POINT')} + 'bgn'">
                                        <td th:unless="${!createPolicyDto.isProPlan()}" th:text="${#numbers.formatDecimal(netPremiumProWithTaxes,1,'COMMA',2,'POINT')} + 'bgn'">
                                            $6,500.00
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>

                                <div id="details" class="clearfix">
                                    <div id="client2">
                                        <h2 class="name-name">Client Signature: _____________________</h2>
                                        <div th:text="'Date: ' + ${#temporals.format(localDateTime, 'dd-MM-yyyy')}"
                                             class="address">Date: 12.02.2020
                                        </div>
                                    </div>

                                    <div id="agent">
                                        <h2 class="name-name">Agent Signature: _____________________</h2>

                                    </div>
                                </div>
                                <div class="address">Copyrights © 2020 by Telerik Academy</div>


                            </main>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div>
            <div class="row">
            <a th:href="@{/create-policy/invoice/print}" value="PRO" class="btn-solid-reg page-scroll">Download as PDF</a>
            <a th:href="@{/create-policy/submit}"  class="btn-solid-reg page-scroll">Submit</a>
<!--            <form th:action="@{/create-policy/submit}">-->
<!--                <button type="submit"  class="btn-solid-reg page-scroll">Submit</button>-->
<!--            </form>-->
            </div>
        </div><!-- end of container -->

    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->


<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<!-- jQuery for Bootstrap's JavaScript plugins -->
<script th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script>
<!-- Popper tooltip library for Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script th:src="@{/js/jquery.easing.min.js}" src="../static/js/jquery.easing.min.js"></script>
<!-- jQuery Easing for smooth scrolling between anchors -->
<script th:src="@{/js/swiper.min.js}" src="../static/js/swiper.min.js"></script>
<!-- Swiper for image and text sliders -->
<script th:src="@{/js/jquery.magnific-popup.js}" src="../static/js/jquery.magnific-popup.js"></script>
<!-- Magnific Popup for lightboxes -->
<script th:src="@{/js/validator.min.js}" src="../static/js/validator.min.js"></script>
<!-- Validator.js - Bootstrap plugin that validates forms -->
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script> <!-- Custom scripts -->
<script th:src="@{/js/mdb.min.js}" type="text/javascript" src="../static/js/mdb.min.js"></script>

</body>
</html>